
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">
        <div class="row">
            <h2>Welcome Admin,On Project Management System</h2>
        </div>
    </div>
    <!-- /Page Content -->

</div>
<!-- /Page Wrapper -->